body{
    font-family: Arial, sans-serif;
    background:#b1d9e9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#ffffff;
    padding:20px;
    border-radius:10px;
    width:500px;
    box-shadow:0 0 10px rgba(6, 5, 88, 0.657);
}

textarea{
    width:95%;
    height:120px;
    margin:10px 0;
    padding:10px;
}

.language-select{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:10px 0;
}

select{
    width:40%;
    padding:8px;
}

button{
    width:100%;
    padding:10px;
    margin-top:10px;
    background:#32bc49cb;
    color:rgb(249, 249, 249);
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0057b300;
}